body {
    background-color: rgb(195, 182, 235);
    color: #2B2733;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

nav a {
    text-decoration: none;
}

header {
    text-align: center;
}

div {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 15px;
    background-color: rgb(220, 196, 245);
    line-height: 1.5;
}

h1,
h2,
h3 {
    color: #2B2733;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h2 {
    text-transform: uppercase;
}

p {
    line-height: 1.3;
}

#author {
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #6b5086;
}

a {
    color: rgb(88, 57, 116)
}

ul li {
    list-style-type: square;
}