body {
    background-color: rgb(159, 152, 142);
    font-family: Geneva, Verdana, sans-serif;
    margin: 40px;
}
main {
    padding: 2px 15px ;
    background-color: rgb(255, 255, 255);
}
h1, h2 {
    font-family: "Teko", sans-serif;
}
li {
    line-height: 1.5;
}
a {
    color:rgb(49, 75, 130)
}