* {
      box-sizing: border-box;
      margin: 0;
  }

  body {
      font-family: Verdana, Arial, sans-serif;
  }

  #wrapper {
      background-color: #B3C7E6;

  }

  header {
      color: #00005D;
      background-color: #869DC7;
      background-image: url(light.gif);
      background-repeat: no-repeat;
      background-size: auto 100%;
      padding: .5em 0 .5em 5.5em;
  }

  main {
      background-color: #FFFFFF;
      color: #000000;
      padding: 1em;

  }

  aside {
      text-align: center;
  }

  footer {
      background-color: #869DC7;
      font-size: 70%;
      text-align: center;
      padding: 0.5em 0;
  }

  img {
      padding: 1em;
  }

  h2 {
      color: #869DC7;
  }

  /* Styles to configure navigation links as horizontal areas */
  nav ul {
      list-style-type: none;
      padding-left: 0;
      border-top: 1px solid #EEEEEE;
  }

  nav li {
      border-bottom: 1px solid #EEEEEE;
      text-align: center;
      padding-top: .5em;
      padding-bottom: .5em;
  }

  nav a {
      text-decoration: none;
      font-weight: bold;
  }

  nav a:link {
      color: #00005D;
  }

  nav a:hover {
      color: #FF0000;
  }

  /* make the current page's link look different */
  nav #page {
      font-weight: bold;
      color: #FEFEFE;
  }





  /* Force older versions of Internet Explorer to display these HTML5 elements with block display. */
  header,
  nav,
  main,
  footer,
  aside,
  figure {
      display: block;
  }

  /* Medium Display */
  @media (min-width: 600px) {
      nav li {
          display: inline-block;
          width: 7em;
          padding: 0.5em;
          border: none;
      }

      nav ul {
          text-align: center;
      }

      main {
          float: left;
          width: 55%;
      }

      aside {
          margin-left: 55%;
      }

      footer {
          clear: both;
      }
  }

  /* Large Display */
  @media (min-width: 1024px) {
      nav li {
          display: block;
      }

      nav {
          float: left;
      }

      #wrapper {
          width: 80%;
          margin: auto;
          max-width: 1200px;
      }

      body {
          background-color: #000066;
      }
  }
